@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --tos-c-dark: #191813;
  --tos-c-faint: #c9c7b8;
  --tos-c-beige: #b5b3a4;
  --tos-c-tan: #444444;
  --tos-c-white: #ffffff;
  --tos-c-black: #000000;
  --tos-c-groove: #eeede0;
}

.theme-dark {
  --tos-c-dark: #c9c7b8;
  --tos-c-faint: #191813;
  --tos-c-beige: #444444;
  --tos-c-tan: #b5b3a4;
  --tos-c-white: #000000;
  --tos-c-black: #ffffff;
  --tos-c-groove: #11121f;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.chat-message {
  margin: 3px;
  padding: 5px;
  font-size: var(--font-size-14);
  color: var(--color-text-light-primary);
  background: #0b0a13fa;
  border: 2px solid #6c6c6782;
  border-radius: 5px;
}

.chat-message.whisper {
  background: #131121;
  border: 2px solid #545469;
}

.message.whisper table tr td {
  background-color: #131121;
}

.chat-message img {
  border: 1.5px solid #b5b3a487;
  border-radius: 20px;
  margin-bottom: 1px;
}

.chat-message .message-header .flavor-text,
.chat-message .message-header,
.chat-message .message-header .whisper-to {
  color: var(--color-text-light-primary);
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
  border: #201b1b;
  box-shadow: 0 0 2px #ffffff inset;
}

#chat-form textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: var(--font-primary);
  color: var(--color-text-light-primary);
  background: url(../ui/parchment_dark.jpg) repeat;
}

hr {
  border: none;
  border-top: 1px solid #c2b096;
  border-bottom: 1px solid #c2b096;
}

table tr td:first-child,
table tr td:nth-child(2),
table tr td:nth-child(3) {
  background-color: #1412238a;
}

.rollable:hover,
.rollable:focus {
  color: var(--tos-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 10px; /* Space between grid items */
  text-align: center; /* Centers the label text */
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-1-spell {
  grid-column: span 1;
  display: flex;
  flex-direction: column; /* Places label above input */
  align-items: center; /* Centers everything inside */
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}
.grid-skills {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Collapsing empty spaces */
  margin: 10px 0;
  padding: 0;
  width: 100%;
  max-width: 100px; /* Adjust if necessary */
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to tos sheets */
.tos .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Moves content to the top */
  max-width: 230px;
  margin-right: 10px;
}
.tos .item-form {
  font-family: "Roboto", sans-serif;
}
.tos .sheet-header {
  height: 370px; /* Adjust the height as needed */
  overflow: hidden; /* Ensures content does not exceed the height */
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.tos .sheet-header .profile-img {
  flex: 0 0 165px; /* Keeps the image size fixed */
  height: 216px;
  margin-bottom: 10px; /* Adds space below the image */
  align-self: flex-start; /* Ensures it stays at the top */
  border-color: #00000000;
}

.tos .sheet-header .header-fields {
  flex: 1;
  margin-bottom: 75px;
}
.tos .sheet-tabs {
  flex: 0;
}
.tos .sheet-body,
.tos .sheet-body .tab,
.tos .sheet-body .tab .editor {
  height: 100%;
}
.tos .tab.biography {
  flex: 1;
}
.tos .tab.biography .editor {
  height: 100%;
}
.tos .tox .tox-editor-container {
  background: var(--tos-c-white);
}
.tos .tox .tox-edit-area {
  padding: 0 8px;
}
.tos .resource-label {
  font-weight: bold;
}
.skill-name,
.skill-label.rollable {
  flex: 1 0 auto; /* Allow label to grow without shrinking */
  max-width: 140px; /* Optional: Keep the max-width */
  width: 100%;
  padding: 0.4rem; /* Optional: Adjust padding */
  text-align: center; /* Ensure text is left-aligned */
}

.skill-label {
  margin-right: 10px;
}

.tos .attribute-armor {
  flex-direction: column; /* Stack label above input and modifier */
  align-items: center; /* Center items horizontally */
  margin: 0 2px; /* Reduced horizontal spacing between attributes */
  flex: 1 1 0; /* Allow attributes to grow and shrink */
  max-width: 45px; /* Set a max width to keep them compact */
  text-align: center;
}

.tos .attributes {
  justify-content: flex-start; /* Adjust as necessary */
  flex-wrap: wrap; /* Allow wrapping if needed */
  margin-top: 10px; /* Space above attributes */
}

.tos .attribute {
  flex-direction: column; /* Stack label above input and modifier */
  align-items: center; /* Center items horizontally */
  margin: 0 2px; /* Reduced horizontal spacing between attributes */
  flex: 1 1 0; /* Allow attributes to grow and shrink */
  max-width: 90px; /* Set a max width to keep them compact */
  text-align: center;
}

.tos .attribute-armor {
  flex-direction: column; /* Stack label above input and modifier */
  align-items: center; /* Center items horizontally */
  margin: 0 2px; /* Reduced horizontal spacing between attributes */
  flex: 1 1 0; /* Allow attributes to grow and shrink */
  max-width: 45px; /* Set a max width to keep them compact */
  text-align: center;
}

.tos .attribute-score,
.tos .attribute-mod {
  width: 40px; /* Fixed width for input and modifier */
  max-width: 40px; /* Prevent it from growing wider */
  text-align: center; /* Center text in input and span */
}
.tos .items-header {
  display: flex;
  height: 28px;
  margin: 2px 0;
  padding: 0 4px;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}

.tos .items-header > * {
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tos .inventory-weapons .item-formula {
  flex: 3;
}

.tos .inventory-gear .item {
  display: flex;
  align-items: center;
}

.tos .inventory-gear .armor-layer {
  flex: 1;
  text-align: left;
}

.tos .inventory-gear .gear-equipped {
  flex: 1;
  padding-right: 9px;
}

.tos .inventory-gear .armor-value {
  flex: 1;
  margin-right: 55px;
}

.tos .inventory-consumable .item-formula {
  flex: 1;
}

.tos .inventory-consumable .item-quantity {
  flex: 1;
  margin-right: 80px;
}

.tos .items-header .item-name {
  flex: 4;
  text-align: left;
  justify-content: flex-start;
  padding-left: 6px;
}

.tos .items-header .ability-name {
  width: 260px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 6px;
  flex: 0 0 auto;
}

.tos .items-header .ability-type,
.tos .items-header .ability-cost,
.tos .items-header .ability-damage,
.tos .items-header .ability-test {
  width: 113.73px;
  flex: 0 0 auto;
}

.tos .items-header .item-prop {
  flex: 1;
}

.tos .items-header .item-controls {
  flex: 0 0 auto; /* fixed width for icons */
  justify-content: flex-end;
}

.tos .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  scrollbar-width: thin;
  color: var(--tos-c-tan);
  opacity: 1;
  transition: max-height 0.25s ease-out, opacity 0.25s ease-out;
}
.tos .items-list.collapsed {
  max-height: 30px;
  opacity: 1;
}

.tos .items-list.collapsed > .items-header {
  opacity: 1;
}

.tos .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tos .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.tos .items-list .item-name h3,
.tos .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tos .items-list .item-controls {
  display: flex;
  justify-content: flex-end;
}
.tos .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.tos .items-list .item {
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-bottom: 1px solid var(--tos-c-faint);
}
.tos .items-list .item:last-child {
  border-bottom: none;
}
.tos .items-list .item .item-name {
  flex: 2.5;
  max-width: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--tos-c-dark);
  display: flex;
  align-items: center;
}
.tos .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.tos .items-list .item-prop {
  flex: 1;
  text-align: center;
  font-size: 12px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  padding: 0 4px;
}

.tos .item-prop-difficulty {
  text-align: center;
  border-right: 1px solid #c9c7b8;
  border-left: 1px solid #c9c7b8;
  font-size: 12px;
  padding-left: 15px; /* Adjust as needed */
}
.item.flexrow.spell {
  font-size: 12px;
  padding: 2px 5px;
  text-align: center;
  min-width: 15px; /* Set a minimum width to prevent overflow */
}

/* Remove left border from all except the first one */
.tos .items-list .item-prop:first-child {
  border-left: none;
}

/* Remove right border from the last one */
.tos .items-list .item-prop:last-child {
  border-right: none;
}
.tos .item-toggle-equipped {
  width: 16px;
  height: 15px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.tos .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.tos .items-list .items-header .item-name {
  text-align: left;
}
.tos .spellDifficulty {
  text-align: center;
}
.tos .item-formula {
  display: flex;
  justify-content: center; /* Center content */
  align-items: center; /* Align vertically */
  flex: 2.1; /* Allow cells to scale */
}
.tos .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.tos .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.tos .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--tos-c-tan);
}
.tos .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tos .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.tos .effects-list .effect-name h3,
.tos .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tos .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.tos .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.tos .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--tos-c-faint);
}
.tos .effects-list .effect:last-child {
  border-bottom: none;
}
.tos .effects-list .effect .effect-name {
  color: var(--tos-c-dark);
}
.tos .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.tos .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.tos .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.tos .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.tos .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.tos .effects .item .effect-source,
.tos .effects .item .effect-duration,
.tos .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.tos .effects .item .effect-controls {
  border: none;
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.skills-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skill-entry {
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}
.skill-value {
  width: 4rem; /* Adjust the width as needed */
  margin-right: 5px;
  max-width: 38px; /* Optional: Set a maximum width */
  padding: 0.4rem; /* Adjust padding for a more compact input */
  text-align: center; /* Center the text for better appearance */
  font-size: 0.9rem; /* Adjust font size if the text appears too large */
  max-height: 20px;
}
.spell-value {
  width: 2.5rem; /* Small box for max 2-digit numbers */
  text-align: center; /* Centers text inside */
  font-size: 1rem; /* Ensures readability */
  padding: 2px; /* Small padding for cleaner look */
}
.skill-rating {
  max-width: 40px;
  max-height: 20px;
  text-align: center;
}
.tab.skills {
  text-align: center;
}
@media (max-height: 1080px) {
  .tab.features,
  .tab.abilities,
  .tab.inventory,
  .tab.skills,
  .tab.miracles,
  .tab.spells,
  .tab.config {
    max-height: 420px !important; /* Height for 1920x1080 resolution */
  }
}

@media (min-height: 1081px) {
  .tab.features,
  .tab.abilities,
  .tab.inventory,
  .tab.skills,
  .tab.miracles,
  .tab.spells,
  .tab.config {
    max-height: 700px !important; /* Height for higher resolutions */
  }
}

.skill-entry.hidden-skill,
.hidden,
.skills-container .hidden-skill {
  display: none !important;
  margin-bottom: 0 !important;
}

.toggle-skill-visibility {
  display: inline-block !important; /* Forces checkboxes to always be shown */
}
.config-checkbox {
  display: block !important;
}

.tab.features,
.tab.abilities,
.tab.inventory,
.tab.skills,
.tab.miracles,
.tab.spells,
.tab.config {
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto; /* Scrollbar for long content */
}

.button-container {
  display: flex;
  gap: 4px; /* Adds spacing between buttons */
  justify-content: flex-start; /* Aligns buttons to the right */
  flex-wrap: wrap; /* Allows buttons to wrap if needed */
}

.d100-reroll-button {
  flex: 1 1 auto; /* Allows buttons to shrink and expand evenly */
  min-width: 50px; /* Ensures buttons don't get too small */
  max-width: 100px; /* Prevents them from getting too large */
  padding: 4px 8px;
  margin-top: 10px;
  border: 1px solid #616164;
  color: var(--color-text-light-primary);
  background: url(../ui/parchment_dark.jpg) repeat;
  text-align: center;
}
.damage-roll-button {
  flex: 1 1 auto; /* Allows buttons to shrink and expand evenly */
  min-width: 50px; /* Ensures buttons don't get too small */
  max-width: 100px; /* Prevents them from getting too large */
  padding: 4px 8px;
  text-align: center;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between items as needed */
}

.checkbox-row label {
  margin-right: 5px; /* Space between label and checkbox */
}

/* Container for stats row */
.stat-row {
  display: flex;
  justify-content: space-evenly; /* Evenly distribute stats in a single row */
  align-items: center; /* Center align the items vertically */
  width: 100%; /* Ensure the row takes full available width */
  flex-wrap: wrap; /* Allow wrapping when there are more than 7 items */
}

/* Each stat block (Health, Stamina, etc.) */
.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 100px; /* Set each stat box to 70px width */
  max-width: 100px; /* Ensure no box exceeds 70px */
}

/* Label for each stat */
label {
  margin-bottom: 5px;
  font-weight: bold;
}

/* Container for current and max value inputs */
.stat-values {
  display: flex;
  justify-content: space-between;
  gap: 5px; /* Space between current and max value inputs */
  align-items: center;
}

/* Ensure inputs are properly aligned */
.stat-input {
  width: 50px; /* Set input box width */
  text-align: center; /* Center the text inside the input */
  padding: 0; /* Remove padding for better alignment */
}
input[data-class="stat-input"] {
  text-align: center;
}

.reroll-container {
  display: flex;
  justify-content: flex-end; /* Align icons at the right of the container */
  width: 100%; /* Ensure the container takes the full width */
  padding: 5px 0; /* Optional: adjust padding as needed */
}

.reroll-container:nth-child(odd) {
  background: #3131311f;
}

.reroll-container:nth-child(even) {
  background: #00000038;
}

.reroll-container span {
  font-size: 1rem; /* Adjust as needed */
  font-weight: bold;
  margin-right: auto; /* Keep the span on the left side */
}

/* Style for the reroll icon */
.reroll-icon {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease, background-color 0.3s ease;
  font-size: 1.5rem; /* Adjust for bigger icons */
  align-items: center; /* Vertically center the icon */
  display: flex; /* Horizontally center the icon */
  margin: 0; /* Ensure no margin between icons */
}
/* Active (shining) state */
.reroll-icon.active {
  color: rgb(243, 195, 92); /* Icon color changes to white for contrast */
}

/* Inactive state */
.reroll-icon:not(.active) {
  background-color: transparent; /* Transparent when inactive */
  color: inherit; /* Default color */
}
