@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --tos-c-dark: #191813;
  --tos-c-faint: #c9c7b8;
  --tos-c-beige: #b5b3a4;
  --tos-c-tan: #444444;
  --tos-c-white: #ffffff;
  --tos-c-black: #000000;
  --tos-c-groove: #eeede0;
}

.theme-dark {
  --tos-c-dark: #c9c7b8;
  --tos-c-faint: #191813;
  --tos-c-beige: #444444;
  --tos-c-tan: #b5b3a4;
  --tos-c-white: #000000;
  --tos-c-black: #ffffff;
  --tos-c-groove: #11121f;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover,
.rollable:focus {
  color: var(--tos-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to tos sheets */
.tos .item-form {
  font-family: "Roboto", sans-serif;
}
.tos .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.tos .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.tos .sheet-header .header-fields {
  flex: 1;
}
.tos .sheet-tabs {
  flex: 0;
}
.tos .sheet-body,
.tos .sheet-body .tab,
.tos .sheet-body .tab .editor {
  height: 100%;
}
.tos .tab.biography {
  flex: 1;
}
.tos .tab.biography .editor {
  height: 100%;
}
.tos .tox .tox-editor-container {
  background: var(--tos-c-white);
}
.tos .tox .tox-edit-area {
  padding: 0 8px;
}
.tos .resource-label {
  font-weight: bold;
}
.skill-label.rollable {
  flex: 0 0 auto; /* Prevent it from expanding */
  width: 8rem; /* Adjust the width as needed */
  max-width: 140px; /* Set a maximum width */
  padding: 0.4rem; /* Optional: Adjust padding */
  text-align: left; /* Ensure text is left-aligned */
}

.tos .attributes {
  display: flex; /* Align attributes in a row */
  justify-content: flex-start; /* Adjust as necessary */
  flex-wrap: wrap; /* Allow wrapping if needed */
  margin-top: 10px; /* Space above attributes */
}

.tos .attribute {
  display: flex;
  flex-direction: column; /* Stack label above input and modifier */
  align-items: center; /* Center items horizontally */
  margin: 0 2px; /* Reduced horizontal spacing between attributes */
  flex: 1 1 0; /* Allow attributes to grow and shrink */
  max-width: 70px; /* Set a max width to keep them compact */
}

.tos .attribute-score,
.tos .attribute-mod {
  width: 40px; /* Fixed width for input and modifier */
  max-width: 40px; /* Prevent it from growing wider */
  text-align: center; /* Center text in input and span */
}
.tos .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .items-header > * {
  font-size: 14px;
  text-align: center;
}
.tos .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.tos .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--tos-c-tan);
}
.tos .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tos .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.tos .items-list .item-name h3,
.tos .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tos .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.tos .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.tos .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--tos-c-faint);
}
.tos .items-list .item:last-child {
  border-bottom: none;
}
.tos .items-list .item .item-name {
  color: var(--tos-c-dark);
}
.tos .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.tos .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.tos .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.tos .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.tos .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.tos .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.tos .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.tos .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--tos-c-tan);
}
.tos .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tos .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.tos .effects-list .effect-name h3,
.tos .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.tos .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.tos .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.tos .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--tos-c-faint);
}
.tos .effects-list .effect:last-child {
  border-bottom: none;
}
.tos .effects-list .effect .effect-name {
  color: var(--tos-c-dark);
}
.tos .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.tos .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.tos .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--tos-c-groove);
  font-weight: bold;
}
.tos .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.tos .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.tos .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.tos .effects .item .effect-source,
.tos .effects .item .effect-duration,
.tos .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.tos .effects .item .effect-controls {
  border: none;
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.skills-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-value {
  width: 4rem; /* Adjust the width as needed */
  max-width: 34px; /* Optional: Set a maximum width */
  padding: 0.4rem; /* Adjust padding for a more compact input */
  text-align: left; /* Center the text for better appearance */
  font-size: 0.9rem; /* Adjust font size if the text appears too large */
  max-height: 20px;
}
.skill-rating {
  margin-left: 15px; /* Adds a small space between the input value and the skill rating */
}
.tab.skills {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 700px; /* Ensure no overflow of the skills tab */
  overflow-y: auto; /* Scrollbar for long content */
}
.hidden {
  display: none;
}

.skills-container .hidden-skill {
  display: none;
}

.toggle-skill-visibility {
  display: inline-block !important; /* Forces checkboxes to always be shown */
}