# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
/packs/quickplay-spells

packs/quickplay-spells/000016.log
packs/quickplay-spells/CURRENT
packs/quickplay-spells/LOCK
packs/quickplay-spells/LOG
packs/quickplay-spells/LOG.old
packs/quickplay-spells/MANIFEST-000014
