{{! Features Tab }}
<section
  class="tab testtab {{tab.cssClass}}"
  data-group="primary"
  data-tab="testtab"
>


<div>

  <input type="checkbox" data-action="myAction" />
  <input type="checkbox" class="toggle-day"
         data-action="toggleDay"
         {{#if actor.system.day}}checked{{/if}} />
</div>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }} 

   


</section>